<div class="page">

    <h1>Contact Page</h1>
  <form>
    
    <div>
      <label for="name">Name:</label>
    </div>
    <div>
      <input
        type="text"
        [ngClass]="{ error: nameInvalid && name.dirty }"
        name="name"
        [(ngModel)]="formData.name"
        (keyup)="ValidateName()"
        #name="ngModel"
        minlength="3"
      />
      <div class="error-message" *ngIf="nameInvalid && name.dirty">
        {{ nameErrorMessage }}
      </div>
    </div>

    <div>
      <label for="email">Email:</label>
    </div>
    <div>
      <input
        type="email"
        name="email"
        [ngClass]="{ error: emailInvalid && email.dirty }"
        [(ngModel)]="formData.email"
        (keyup)="ValidateEmail()"
        #email="ngModel"
      />
      <div class="error-message" *ngIf="emailInvalid && email.dirty">
          {{ emailErrorMessage }}
        </div>
    </div>

    <div>
      <label for="message">Message:</label>
    </div>
    <div>
      <textarea 
      name="message" 
      id="message"
      [ngClass]="{ error: messageInvalid && message.dirty }"
      [(ngModel)]="formData.message"
      (keyup)="ValidateMessage()"
      #message="ngModel"
      ></textarea>
      <div class="error-message" *ngIf="messageInvalid && message.dirty">
          {{ messageErrorMessage }}
        </div>
    </div>

    {{ formData | json }}

    <div>
      <button (click)="submit()" [disabled]="nameInvalid || emailInvalid || messageInvalid">Submit</button>
    </div>
  </form>
</div>
